p{
	text-align: justify;
}

header{
/*	margin: 1%;*/
}

header p{
	font-size: 14pt;
	display: inline-block;
	width: 30%;
	text-transform: uppercase;
	text-align: left;
	border-width:0 2px 0 0;
	border-style:solid;
	border-color:#000000;
	padding: 5px;
}

header img{
	margin: 0 10px;
	width: 6%;
}

a {
	color: #666666;
	text-decoration: none;
}
nav{
	display: inline-block;
	width: 55%;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
}
nav a{
/*	border:solid;*/
	display: inline-block;
/*	width: 130px;*/
	text-decoration: none;
	color: #000000;
	margin: 3%;
	padding: 1%;
}

body{
	font-family: Century Gothic, Bahnschrift, Futura PT;
}

section{
	margin: 70px 5%;
	display: block;
/*	width: 90%;*/
}
.medium img{
	display: block;
	width: 70%;
	margin: 0 20% 0.5% 0;
}
.medium p,h2,h3{
	width: 70%;
	margin: 0 20% 0.5% 0%;
}
.medium a{
/*	margin: 0 5%;*/
}

/*.GIS img{
	width: 30%;
}*/

.project{
	color: #FFFFFF;
	width: 100%;
/*	height: 50%;*/
	display: block;
	background-image: url(../final-drawings/master-section2.png);
	background-size: 110%;
/*	background-position: 0 100%;*/
	text-align: center;
	padding: 13% 0;
	margin: 0;
}

.site{
	color: #FFFFFF;
	width: 100%;
/*	height: 50%;*/
	display: block;
	background-image: url(../photos/1007yard.jpg);
	background-size: 110%;
	background-position: 0 90%;
	text-align: center;
	padding: 13% 0;
	margin: 0;
}

.whole p{
	text-align: center;
}
.drawing{
	margin-bottom: 10px;
}
.drawing img{
	margin-bottom: 2%;
}

h1{
	font-size: 300%;
}
h3{
	margin-top: 25px;
	margin-bottom: 5px;
	font-weight: lighter;
}

h2{
	margin-top: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h2+h3{
	margin-top: 10px;
}
.quote{
	font-style: italic;
	font-size: 14pt;
	display: inline-block;
	width: 60%;
	text-align: center;
}
.people img{
	width: 100px;
	display: inline-block;
	float: left;
	margin: 0 5pt 0 0;
}
.people h3{
	display: inline-block;
	font-weight: bold;
	margin-top: 40px;
}
.people h2+h3{
	margin-top: 10px;
}
.people h2{
	margin-bottom: 0;
}

.prof h3{
	margin-top: 10px;
}
.people{
	margin-top: 20px;
	margin-bottom: 50px;
}

table td{
/*	border-width: 1pt;
	border-color: #000000;
	border-style: solid;*/
	padding: 5pt 10pt;
}
table td:first-child{
	color: #666666;
	font-weight: bold;
}
table td:nth-child(2){
	width: 200pt;
}
.photo{
	margin-top: 10px;
}
.photo p{
	margin-top: 25px;
}
.photo h3{
	font-weight: bold;
	margin-bottom: 0;
}

.photo h3 + p{
	margin-top: 5px;
}

.active{
	color: #FFFFFF;
	background-color: #999999;
}

.image-container {
  overflow: scroll;
}

div{
	height: 430px;
}

#story{
	height: 400px;
}